@import "./styles/variables.scss";

.background-signup {
  background-image: linear-gradient(
    45deg,
    rgba(88, 233, 233, 0.301),
    rgba(207, 85, 207, 0.295)
  );
  height: 100vh;
  min-width: 1260px;
  position: relative;

  .purple-accent {
    background-color: #5800cc;
    position: absolute;
    width: 75%;
    height: 55%;
    z-index: -1;
    left: 16%;
    bottom: 346px;

    @media only screen and (min-width: $bp-large-screen) {
      width: 52%;
      left: 27%;
      bottom: 347px;
    }
  }

  .signup-page {
    display: flex;
    height: 100%;
    flex-direction: row;
    width: 95%;
    min-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;

    @media only screen and (min-width: $bp-large-screen) {
      width: 65%;
    }

    .signup-img {
      width: 50%;
      height: 55%;
      background-image: url("https://images.pexels.com/photos/975657/pexels-photo-975657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: top;
      background-size: cover;

      .signup-img-overlay {
        background-image: linear-gradient(
          45deg,
          rgba(179, 226, 226, 0.178),
          rgba(202, 132, 202, 0.404)
        );
        opacity: 0.6;
        height: 100%;
        width: 100%;
      }

      .signup-prof-image {
        height: 100%;
        width: 100%;
      }
    }

    .form {
      width: 30%;
      height: 55%;
      background-color: white;
      //   padding: 3%;

      .form-title {
        text-align: center;
        font-size: 4.5rem;
        font-weight: 900;
        font-family: $base-font;
        letter-spacing: 0.1rem;
        color: $base_color;
        padding-top: 50px;
        margin: 0;
      }

      h3 {
        text-align: center;
        padding-bottom: 60px;
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }
}
