@import "./styles/variables.scss";

.background-signup {
  background-image: linear-gradient(
    45deg,
    rgba(88, 233, 233, 0.301),
    rgba(207, 85, 207, 0.295)
  );
  height: 100vh;
  min-width: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .new-accent {
    width: 100%;
  }

  .signup-page {
    display: flex;
    flex-direction: row;
    width: 70%;
    -webkit-box-shadow: 35px -35px 0px 0px rgba(112, 0, 255, 1);
    -moz-box-shadow: 35px -35px 0px 0px rgba(112, 0, 255, 1);
    box-shadow: 35px -35px 0px 0px rgba(112, 0, 255, 1);
    justify-content: center;
    align-items: center;
    margin: auto;

    @media only screen and (min-width: 1800px) {
      width: 55%;
    }

    .signup-img {
      min-height: 600px;
      width: 100%;
      margin: 0 auto;
      background-image: url("https://images.pexels.com/photos/975657/pexels-photo-975657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: top;
      background-size: cover;

      .signup-img-overlay {
        background-image: linear-gradient(
          45deg,
          rgba(179, 226, 226, 0.178),
          rgba(202, 132, 202, 0.404)
        );
        opacity: 0.6;
        height: 100%;
        width: 100%;
      }

      .signup-prof-image {
        height: 100%;
        width: 100%;
      }
    }

    .form {
      width: 600px;
      padding: 35px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: white;

      .form-title {
        text-align: center;
        font-size: 4.5rem;
        font-weight: 900;
        font-family: $base-font;
        letter-spacing: 0.1rem;
        color: $base_color;
        margin: 0;
      }

      h3 {
        text-align: center;
        padding-bottom: 60px;
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }
}
